/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

.table-cell-modified {
-fx-text-fill: white;
-fx-background-color: lightgray;
}

.table-cell-alerte {
-fx-text-fill: white;
-fx-background-color: yellow;
}
